<div v-show="show" class="text-center">
  <ul class="pagination">
    <li><a v-link="prev">&laquo;</a></li>
    <template v-for="page in pages">
      <template v-if="page['index'] === current_page">
        <li class="active">
          <a v-link="page.path">{{page['index']}}</a>
        </li>
      </template>
      <template v-else>
        <li>
          <a v-link="page.path">{{page['index']}}</a>
        </li>
      </template>
    </template>
    <li><a v-link="next">&raquo;</a></li>
  </ul>
</div>
